@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap");
}

@font-face {
  font-family: Manrope, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap") format("woff");
}
