$c-gray: #eee;
$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$design-min-width: 1440px;
$effect-duration: 0.3s;
$main-text-color: #4f4f4f;
$primarity-text-color: #333;
$buttom-color: #ffe339;
$menu-link-color: #f8f8f8;
